<html>
  <!DOCTYPE html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel="shortcut icon" type="image/png" href="../img/avotrans.ico"/>
    <meta property="og:title" content="Mission Guac Party!"/>
    <meta property="og:description" content="Back for a 7th year we'll be celebrating with friends,
                                             neighbors, and fellow guacamole enthusiasts!"/>
    <meta property="og:image" content="https://www.guacamole.expert/img/guac-off-photo-og.jpg"/>
    <meta property="twitter:image" content="https://www.guacamole.expert/img/guac-off-photo-og.jpg"/>
    <meta property="twitter:title" content="Mission Guac Party!"/>
    <meta property="twitter:description" content="Back for a 7th year we'll be celebrating with friends,
                                             neighbors, and fellow guacamole enthusiasts!"/>
    <meta name="twitter:card" content='summary_large_image'>
    <meta name="twitter:label1" value="When is it?"/>
    <meta name="twitter:data1" value="September 8th, 2018, 1-5pm"/>
    <meta name="twitter:label2" value="Are chill dogs invited?"/>
    <meta name="twitter:data2" value="Most definitely!"/>
    <script src="https://use.typekit.net/afv8npa.js"></script>
    <script>
      try {
        Typekit.load({async: true});
      } catch (e) {}
    </script>
    <script>
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        },
        i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-34819223-6', 'auto');
      ga('send', 'pageview');
    </script>
    <title>Indian Summer Guac Off</title>
  </head>

  <body>
    <div class="nav">
      <div class="columns-12">
        <div class="nav-headline">Eat guacamole with your friends and neighbors</div>
        <div class="nav-links-hidden">
          <a href="#form-anchor" class="nav-button">Count me in</a>
        </div>
      </div>
    </div>
    <div class="hero">
      <video id="herovideo" autoplay="autoplay" loop="loop" playsinline="playsinline" muted="muted">
        <source src="../img/guac_video_5mb.webm" type="video/webm">
      </video>
    </div>
    <div class="logo-container">
      <div class="annual">7th Annual Indian Summer</div>
      <div class="logo">Guac Off</div>
      <div class="logo-date">September 8th, 2018</div>
      <a href="#form-anchor" class="hero-button button--compete">Compete!</a>
      <a href="#form-anchor" class="hero-button button--rsvp">RSVP</a>
    </div>
    <div class="intro">
      <div class="columns-12">
        <h2>The 7th Annual Indian Summer Guac-Off showcases the best guacamole that The City has to offer.</h2>
        <div class="whenwhere">
          <div class="whenwhere-left">
            <div class="when-label">
              <h1>September Eighth</h1>
            </div>
            <div class="whenwhere-text">
              <h3>Starts at 1PM. Ends when the last chip is gone.<br>Judging at 3:30PM</h3>
            </div>
          </div>
          <div class="whenwhere-right">
            <div class="where-label">
              <h1>Bernal Heights</h1>
            </div>
            <div class="whenwhere-text">
              <h3>
                <a href="https://goo.gl/maps/6LrRvn3rrJA2" target="_blank">Farmhouse Mansion<br>
                  3340 Folsom St. 📍<br>
                  San Francisco</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="details-section">
      <div class="detail-left-photo" id="detail-photo-1"></div>
      <div class="detail-right-text" id="the-rules">
        <div class="detail-max-right">
          <p class="details1">
            <h1>The Rules</h1>
            <ul>
              <li>You must use at least 🥑🥑🥑🥑🥑🥑🥑🥑 (8) avocados</li>
              <li>Bring something! Guacamole, beer or friends.</li>
              <li>We’ll provide the chips, the prizes, and of course… the coveted Guacamole Glory Trophy.</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="detail-left-text" id="the-judging">
        <div class="detail-max-left">
          <h1>The Judging</h1>
          <p>You and your neighbors ares the judges when it comes to this competition, and you’ll be asked to vote with your eyes, your heart, and of course, your taste buds.</p>
          <p>The winner to be crowned with the Guacamole Glory Trophy, bragging rights until next Indian Summer, the title of
            <em>“San Francisco’s Official Guacamole”</em>
            and a secret mystery prize!</p>
        </div>
      </div>
      <div class="detail-right-photo" id="detail-photo-2"></div>
      <div class="detail-right-text" id="the-schedule">
        <div class="detail-max-right">
          <h1>Schedule</h1>
          <div class="schedule-item">
            <span class="time">1:00 – 1:30</span>
            Showcase Guacamoles</div>
          <div class="schedule-item">
            <span class="time">1:30 - 3:00</span>
            Guacamole Competition</div>
          <div class="schedule-item">
            <span class="time">3:00 - 3:30</span>
            Voting</div>
          <div class="schedule-item">
            <span class="time">3:30 - 4:00</span>
            Winners Announced</div>
          <span class="bold">Party ends when the last chip is gone!</span>
        </div>
      </div>
      <div class="detail-left-photo" id="detail-photo-3"></div>
    </div>
    <div class="awards-section">
      <div class="columns-12">
        <h1>Glorious Prizes</h1>
        <ul>
          <li class="award">🏆&nbsp;&nbsp;BEST GUACAMOLE&nbsp;&nbsp;🏆</li>
          <li class="award">🍽&nbsp;&nbsp;BEST PRESENTATION&nbsp;&nbsp;🍽</li>
          <li class="award">🎙&nbsp;&nbsp;BEST NAME&nbsp;&nbsp;🎙</li>
          <li class="award">🥑&nbsp;&nbsp;MOST AVOCADOS&nbsp;&nbsp;🥑</li>
          <li class="award">👨‍🎤&nbsp;&nbsp;MOST CREATIVE&nbsp;&nbsp;👨‍🎤</li>
          <li class="award">🔥&nbsp;&nbsp;SPICIEST GUACAMOLE&nbsp;&nbsp;🔥</li>
          <li class="award">🙌&nbsp;&nbsp;BEST YOUNG CHEF&nbsp;&nbsp;🙌</li>
          <li class="award">🏋️‍♀️&nbsp;&nbsp;HEAVIEST BOWL&nbsp;&nbsp;🏋️‍♀️</li>
        </ul>
        <p class="legal">*awards subject to being made up on the spot.</p>
      </div>
    </div>
    <div class="form-section" id="form">
      <div class="form-container">
        <div class="rsvp-circle">RSVP</div>
        <h2>You're coming, right? Great.</h2>
        <form role="form" method="post">
          <div class="form-group" id="form-anchor">
            <div class="form-group-text-input">
              <label class="form-label">What's Your Name?</label>
              <input class="form-input" type="text" name="name" placeholder="Guacamole Champ" required="">
            </div>
            <div class="form-group-text-input">
              <label class="form-label">What's Your Email?</label>
              <input class="form-input" type="email" name="email" placeholder="guac-lover@gmail.com" required="">
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox-header">What are you bringing?</div>
            <div class="ck-button" id="ck-guacamole">
              <label>
                <input type="checkbox" name="guac" value="1">
                <span>Guacamole</span>
              </label>
            </div>
            <div class="ck-button" id="ck-beer">
              <label>
                <input type="checkbox" name="beer" value="1">
                <span>Beer</span>
              </label>
            </div>
            <div class="ck-button" id="ck-friends">
              <label>
                <input type="checkbox" name="other" value="1">
                <span>Friends</span>
              </label>
            </div>
            <div class="disclaimer">
              <p>* It’s totally cool to bring all three.</p>
            </div>
            <div class="form-group">
              <label class="form-label">Got something to say?</label>
              <textarea class="form-input" placeholder="Here's where you let us know if you want to volunteer, sponsor, or bring a bounce house... "></textarea>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="button button--submit">I'll be there!</button>
          </div>
        </form>
      </div>
    </div>
    <div class="celebrity-judges">
      <div class="columns-12">
        <h1>Celebrity Judges</h1>
        <div class="judge">
          <div class="judge-photo" id="judge-emperor"></div>
          <div class="judge-name">
            Emperor Norton
          </div>
        </div>
        <div class="judge">
          <div class="judge-photo" id="judge-karl"></div>
          <div class="judge-name">
            Karl the Fog*
          </div>
        </div>
        <div class="judge">
          <div class="judge-photo" id="judge-comet"></div>
          <div class="judge-name">
            Comet*
          </div>
        </div>
      </div>
      <p class="disclaimer">*Karl the Fog and Comet from Full House have not responded to our invitations and may not actually be coming.</p>
    </div>
    <div class="sponsors-section">
      <div class="columns-12">
        <h1>Last Year's Restaurant Showcase</h1>
        <div class="sponsors">
          <ul>
            <li>
              <a href="http://www.tacolicious.com/" target="_blank" class="sponsor sponsor-tacolicious">Tacolicious</a>
            </li>
            <li>
              <a href="http://www.wesburgernmore.com" target="_blank" class="sponsor sponsor-wesburger">Wesburger</a>
            </li>
            <li>
              <a href="http://www.fireflysf.com" target="_blank" class="sponsor sponsor-firefly">Firefly</a>
            </li>
            <li>
              <a href="http://www.westofpecos.com" target="_blank" class="sponsor sponsor-pecos">West of Pecos</a>
            </li>
            <li>
              <a href="http://www.ricepaperscissors.com" target="_blank" class="sponsor sponsor-rps">RPS</a>
            </li>
            <li>
              <a href="http://www.papalote-sf.com" target="_blank" class="sponsor sponsor-papalote">Papalote</a>
            </li>
            <li>
              <a href="https://gussmarket.com/" target="_blank" class="sponsor sponsor-gus">Gus's Community Market</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="sponsors-section">
      <div class="columns-12">
        <h1>Special thanks to our previous local sponsors</h1>
        <div class="sponsors">
          <ul>
            <li>
              <a href="http://www.bff.fm/" target="_blank" class="sponsor sponsor-bff">BFF</a>
            </li>
            <li>
              <a href="http://www.shopdsf.com" target="_blank" class="sponsor sponsor-dsf">DSF</a>
            </li>
            <li>
              <a href="http://www.fireflysf.com" target="_blank" class="sponsor sponsor-firefly">Firefly</a>
            </li>
            <li>
              <a href="http://www.americantripps.com/" target="_blank" class="sponsor sponsor-americantripps">American Tripps</a>
            </li>
            <li>
              <a href="http://www.workshopsf.org" target="_blank" class="sponsor sponsor-workshop">Workshop</a>
            </li>
            <li>
              <a href="http://www.noisepop.com" target="_blank" class="sponsor sponsor-noisepop">Noisepop</a>
            </li>
            <li>
              <a href="http://www.fermentdrinkrepeat.com" target="_blank" class="sponsor sponsor-fdr">FDR</a>
            </li>
            <li>
              <a href="http://www.georgeandlennie.com" target="_blank" class="sponsor sponsor-gl">George &amp; Lennie</a>
            </li>
            <li>
              <a href="http://www.tacolicious.com/" target="_blank" class="sponsor sponsor-tacolicious">Tacolicious</a>
            </li>
            <li>
              <a href="http://www.facebook.com/thewoodennickelsf/" target="_blank" class="sponsor sponsor-woodennickel">
                Wooden Nickel</a>
            </li>
            <li>
              <a href="http://www.ladyfalconcoffeeclub.com/" target="_blank" class="sponsor sponsor-ladyfalcon">
                Wooden Nickel</a>
            </li>
            <li>
              <a href="https://www.facebook.com/PitchSalon/" target="_blank" class="sponsor sponsor-pitch">Pitch Salon</a>
            </li>
            <li>
              <a href="https://www.spincitycoffee.com" target="_blank" class="sponsor sponsor-spincity">Spin City Coffee</a>
            </li>
            <li>
              <a href="https://gussmarket.com/" target="_blank" class="sponsor sponsor-gus">Gus's Community Market</a>
            </li>
            <li>
              <a href="https://www.recurly.com/" target="_blank" class="sponsor sponsor-recurly">Recurly</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script>
      $('a[href^="#"]').on('click', function (event) {
        var target = $(this.getAttribute('href'));
        if (target.length) {
          event.preventDefault();
          $('html, body').stop().animate({
            scrollTop: target.offset().top
          }, 1000);
        }
      });
    </script>
  </body>
</html>