<html>
<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel="shortcut icon" type="image/png" href="img/avotrans.ico" />
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
    <meta property="og:title" content="Mission Guac Party!" />
    <meta property="og:description" content="Back for a 8th year we'll be celebrating with friends, neighbors, and fellow guacamole enthusiasts!" />
    <meta property="og:image" content="https://www.guacamole.expert/img/guac-off-opengraph-2019.jpg" />
    <meta property="twitter:image" content="https://www.guacamole.expert/img/guac-off-opengraph-2019.jpg" />
    <meta property="twitter:title" content="Mission Guac Party!" />
    <meta property="twitter:description" content="Back for a 8th year we'll be celebrating with friends,
                                             neighbors, and fellow guacamole enthusiasts!" />
    <meta name="twitter:card" content='summary_large_image'>
    <meta name="twitter:label1" value="When is it?" />
    <meta name="twitter:data1" value="Sept. 14th, 2019, 1-5pm" />
    <meta name="twitter:label2" value="Is this a competition?" />
    <meta name="twitter:data2" value="Absolutely! The trophy is amazing!" />
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            },
            i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-34819223-6', 'auto');
    ga('send', 'pageview');
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/custom.js"></script>
    <title>Indian Summer Guac Off</title>
</head>

<body>
    <div class="sunset-zone">
        <div class="hero-bg">
        </div>
        <div class="hero">
            <div class="topline">8th Annual Indian Summer</div>
            <div class="logotype">Guac Off</div>
            <div class="time">
                <h1>Sept 14, 2019<br>
                    1pm to 5PM</h1>
            </div>
        </div>
        <div class="columns-12 intro">
            <h1 class="dark-purple">Eat guacamole with your friends and neighbhors</h1>
            <br>
            <a href="https://goo.gl/maps/6LrRvn3rrJA2" target="_blank">
                <h2>Bernal Heights</h2>
                <h2>Farmhouse Mansion</h2>
                <h2>3340 Folsom St.</h2>
                <h2>San Francisco</h2>
            </a>
        </div>
        <div class="info-section columns-12">
            <h1 class="dark-purple">Here's what to expect</h1>
            <div class="big-emoji">🥑</div>
            <h2>The "rules"</h2>
            <p>You must use at least eight avocados. The rest is up to you
                <br>Bring something: Guacamole, beer, or friends
                <br>We've got the chips, the music, and the prizes covered
            </p>
        </div>
        <div class="info-section columns-12">
            <div class="big-emoji">🏆</div>
            <h2>The Competition</h2>
            <p>You, your friends, and your neighbors are the judges. You’ll be asked to vote with your eyes, your heart, and of course, your taste buds</p>
            <p>Everyone will be given a few tokens to vote with to make things real easy. You’ll drop a token or two into the cup next to your favorite guacs. We’ll count the tokens to determine top prizes</p>
        </div>
        <div class="info-section columns-12">
            <div class="big-emoji">🥇</div>
            <h2>The Winners</h2>
            <p>The winner to be crowned with the Guacamole Glory Trophy and their recipe will be deemed, “San Francisco’s Official Guacamole!”</p>
            <p>All competitors receive bragging rights until next Indian Summer!</p>
            <p>All prizes come courtesy of our hella local sponsors!</p>
            <p>If you bring a guacamole, you're going home with a prize!</p>
        </div>
        <div class="info-section columns-12">
            <h1>Schedule</h1>
            <div class="schedule-item">
                <span class="sched-time">1:00 – 1:30</span> Showcase Guacamoles</div>
            <div class="schedule-item">
                <span class="sched-time">1:30 - 3:00</span> Guacamole Competition</div>
            <div class="schedule-item">
                <span class="sched-time">3:00 - 3:30</span> Voting
            </div>
            <div class="schedule-item">
                <span class="sched-time">3:30 - 4:00</span> Winners Announced</div>
            <span class="bold">Party ends when the last chip is gone!</span>
        </div>
        <div class="info-section columns-12">
            <h1>Prizes for</h1>
            <ul>
                <li class="award">🏆&nbsp;&nbsp;Best Overall</li>
                <li class="award">🍽&nbsp;&nbsp;Best Presentation</li>
                <li class="award">👨‍🎤&nbsp;&nbsp;Most Creative</li>
                <li class="award">🎙&nbsp;&nbsp;Best Name</li>
                <li class="award">🥑&nbsp;&nbsp;Most Avocados</li>
                <li class="award">🔥&nbsp;&nbsp;Spiciest</li>
                <li class="award">🙌&nbsp;&nbsp;Best Young Chef</li>
                <li class="award">🏋️‍♀️&nbsp;&nbsp;Heaviest Bowl</li>
            </ul>
            <p class="legal">*Categories subject to being made up on the spot</p>
        </div>
        <div class="form-section columns-12" id="form">
            <div class="form-container" id="blankform">
                <h1>Let us know that you're coming</h1>
                <form id="formsubmit" role="form" method="post">
                    <div class="form-group">
                        <div class="form-group-text-input">
                            <label>Name</label>
                            <input class="form-input" type="text" name="name" placeholder="" required="">
                        </div>
                        <div class="form-group-text-input">
                            <label>Email</label>
                            <input class="form-input" type="email" name="email" placeholder="" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>What are you bringing?</label>
                        <div class="checkbox">
                            <input type="checkbox" name="guac" id="ck-guacamole" value="1">
                            <label for="ck-guacamole">Guacamole</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="beer" id="ck-beer" value="1">
                            <label for="ck-beer">Drinks</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="other" id="ck-friends" value="1">
                            <label for="ck-friends">Friends</label>
                        </div>
                        <div class="disclaimer">
                            <p>* It’s totally cool to bring all three.</p>
                        </div>
                        <label>Want to get involved?</label>
                        <div class="checkbox">
                            <input type="checkbox" name="volunteer" id="ck-volunteer" value="1">
                            <label for="ck-volunteer">I want to volunteer!</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="button">I'll be there!</button>
                    </div>
                </form>
            </div>
            <div class="form-success hide" id="thanks">
                <div class="success-intro">
                    <h1>You just made an excellent decision</h1>
                    <p>Invite your friends, lovers, pets, and cousins, and maybe even that cute guy from the apartment across the hall.</p>
                    <p>We'll send you a reminder email a day or two before the competition, but you should probably add September 14th to your calendar now.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-section">
        <div class="sponsors-section columns-12" id="all-sponsors">
            <h1>The Guac Off is brought to you by</h1>
            <div class="sponsors">
                <ul>
                    <li>
                        <a href="http://www.fermentdrinkrepeat.com" target="_blank" class="sponsor sponsor-fdr">FDR</a>
                    </li>
                    <li>
                        <a href="https://casasanchezfoods.com" target="_blank" class="sponsor sponsor-casa-sanchez">Casa Sanchez</a>
                    </li>
                    <li>
                        <a href="https://emporiumsf.com" target="_blank" class="sponsor sponsor-emporium">The Emporium</a>
                    </li>
                    <li>
                        <a href="http://sfneon.org/" target="_blank" class=" sponsor sponsor-sf-neon">SF Neon</a>
                    </li>
                    <li>
                        <a href="http://www.ladyfalconcoffeeclub.com/" target="_blank" class="sponsor sponsor-ladyfalcon">Lady Falcon</a>
                    </li>
                    <li>
                        <a href="http://www.olddevilmoonsf.com" target="_blank" class="sponsor sponsor-odm">Old Devil Moon</a>
                    </li>
                    <li>
                        <a href="http://www.3rdcousinsf.com" target="_blank" class="sponsor sponsor-cousin">3rd Cousin</a>
                    </li>
                    <li>
                        <a href="https://www.acutecollectivesf.com" target="_blank" class="sponsor sponsor-acute">Acute Collective</a>
                    </li>
                    <!-- <li>
                        <a href="http://www.bff.fm/" target="_blank" class="sponsor sponsor-bff">BFF</a>
                    </li>
                    <li>
                        <a href="http://www.shopdsf.com" target="_blank" class="sponsor sponsor-dsf">DSF</a>
                    </li>
                    <li>
                        <a href="http://www.fireflysf.com" target="_blank" class="sponsor sponsor-firefly">Firefly</a>
                    </li>
                    <li>
                        <a href="http://www.americantripps.com/" target="_blank" class="sponsor sponsor-americantripps">American Tripps</a>
                    </li>
                    <li>
                        <a href="http://www.workshopsf.org" target="_blank" class="sponsor sponsor-workshop">Workshop</a>
                    </li>
                    <li>
                        <a href="http://www.noisepop.com" target="_blank" class="sponsor sponsor-noisepop">Noisepop</a>
                    </li>
                    
                    <li>
                        <a href="http://www.georgeandlennie.com" target="_blank" class="sponsor sponsor-gl">George &amp; Lennie</a>
                    </li>
                    <li>
                        <a href="http://www.facebook.com/thewoodennickelsf/" target="_blank" class="sponsor sponsor-woodennickel">Wooden Nickel</a>
                    </li>
                    
                    <li>
                        <a href="http://www.spincitycoffee.com/" target="_blank" class="sponsor sponsor-spincity">Spin City Coffee</a>
                    </li>
                    
                    <li>
                        <a href="https://www.emmysspaghettishack.com" target="_blank" class="sponsor sponsor-emmys">Emmy's Spaghetti Shack</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/EmperorNortonsBoozeland/" target="_blank" class="sponsor sponsor-emperor-norton">Emperor Norton's Boozeland</a>
                    </li>
                    
                    <li>
                        <a href="https://www.popupmagazine.com" target="_blank" class="sponsor sponsor-popup-mag">Pop-up Magazine</a>
                    </li>
                    <li>
                        <a href="https://www.beachblanketbabylon.com" target="_blank" class="sponsor sponsor-beach-blanket">Beach Blanket Babylon</a>
                    </li>
                    <li>
                        <a href="https://www.pentaclecoffeecompany.com" target="_blank" class="sponsor sponsor-pentacle-coffee">Pentacle Coffee</a>
                    </li>
                    
                    <li>
                        <a href="https://www.amosgoldbaum.com" target="_blank" class="sponsor sponsor-amos-goldbaum">Amos Goldbaum</a>
                    </li>
                    <li>
                        <a href="http://www.fleetwoodsf.com" target="_blank" class="sponsor sponsor-fleet-wood">Fleet Wood</a>
                    </li>
                    <li>
                        <a href="https://www.imperfectproduce.com" target="_blank" class="sponsor sponsor-imperfect-produce">Imperfect Produce</a>
                    </li> -->
                </ul>
                <h1>...and more to come</h1>
            </div>
        </div>
        <div class="columns-12">
            <h2>Thank you to all of the sponsors from last year</h2>
        </div>
        <div class="sponsors-section columns-12" id="all-sponsors">
            <div class="sponsors">
                <ul>
                    <li>The Emperor Norton</li>
                    <li>
                        <a href="http://www.thelittlechihuahua.com" target="_blank" class="sponsor-text">Little Chihuahua</a>
                    </li>
                    <li>
                        <a href="http://www.fireflysf.com" target="_blank" class="sponsor-text">Firefly</a>
                    </li>
                    <li>
                        <a href="http://www.3rdcousinsf.com" target="_blank" class="sponsor-text">3rd Cousin</a>
                    </li>
                    <li>
                        <a href="http://www.wesburgernmore.com" target="_blank" class="sponsor-text">Wesburger</a>
                    </li>
                    <li>
                        <a href="http://www.westofpecos.com" target="_blank" class="sponsor-text">West of Pecos</a>
                    </li>
                    <li>
                        <a href="https://www.eatamericana.com" target="_blank" class="sponsor-text">Eat Americana</a>
                    </li>
                    <li>
                        <a href="http://www.bff.fm/" target="_blank" class="sponsor-text">BFF</a>
                    </li>
                    <li>
                        <a href="http://www.shopdsf.com" target="_blank" class="sponsor-text">DSF</a>
                    </li>
                    <li>
                        <a href="http://www.fireflysf.com" target="_blank" class="sponsor-text">Firefly</a>
                    </li>
                    <li>
                        <a href="http://www.americantripps.com/" target="_blank" class="sponsor-text">American Tripps</a>
                    </li>
                    <li>
                        <a href="http://www.workshopsf.org" target="_blank" class="sponsor-text">Workshop</a>
                    </li>
                    <li>
                        <a href="http://www.noisepop.com" target="_blank" class="sponsor-text">Noisepop</a>
                    </li>
                    <li>
                        <a href="http://www.fermentdrinkrepeat.com" target="_blank" class="sponsor-text">FDR</a>
                    </li>
                    <li>
                        <a href="http://www.georgeandlennie.com" target="_blank" class="sponsor-text">George &amp; Lennie</a>
                    </li>
                    <li>
                        <a href="http://www.facebook.com/thewoodennickelsf/" target="_blank" class="sponsor-text">Wooden Nickel</a>
                    </li>
                    <li>
                        <a href="http://www.ladyfalconcoffeeclub.com/" target="_blank" class="sponsor-text">Lady Falcon</a>
                    </li>
                    <li>
                        <a href="http://www.spincitycoffee.com/" target="_blank" class="sponsor-text">Spin City Coffee</a>
                    </li>
                    <li>
                        <a href="http://sfneon.org/" target="_blank" class=" sponsor-text">SF Neon</a>
                    </li>
                    <li>
                        <a href="https://www.emmysspaghettishack.com" target="_blank" class="sponsor-text">Emmy's Spaghetti Shack</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/EmperorNortonsBoozeland/" target="_blank" class="sponsor-text">Emperor Norton's Boozeland</a>
                    </li>
                    <li>
                        <a href="http://www.olddevilmoonsf.com" target="_blank" class="sponsor-text">Old Devil Moon</a>
                    </li>
                    <li>
                        <a href="https://www.popupmagazine.com" target="_blank" class="sponsor-text">Pop-up Magazine</a>
                    </li>
                    <li>
                        <a href="https://www.beachblanketbabylon.com" target="_blank" class="sponsor-text">Beach Blanket Babylon</a>
                    </li>
                    <li>
                        <a href="https://www.pentaclecoffeecompany.com" target="_blank" class="sponsor-text">Pentacle Coffee</a>
                    </li>
                    <li>
                        <a href="https://emporiumsf.com" target="_blank" class="sponsor-text">The Emporium</a>
                    </li>
                    <li>
                        <a href="https://www.amosgoldbaum.com" target="_blank" class="sponsor-text">Amos Goldbaum</a>
                    </li>
                    <li>
                        <a href="http://www.fleetwoodsf.com" target="_blank" class="sponsor-text">Fleet Wood</a>
                    </li>
                    <li>
                        <a href="https://www.imperfectproduce.com" target="_blank" class="sponsor-text">Imperfect Produce</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
