<html>
<!DOCTYPE html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel="shortcut icon" type="image/png" href="avotrans.ico"/>
    <script src="https://use.typekit.net/afv8npa.js"></script>
    <script>
      try {
        Typekit.load({
          async: true
        });
      } catch (e) {}
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-34819223-5', 'auto');
      ga('send', 'pageview');
    </script>
    <title>Guac Party!</title>
  </head>
  <body>
    <div class="hero">
      <div class="title">
        <div class="title-year">
          Indian Summer
        </div>
        <div class="title-name">
          Guac-Off
        </div>
      </div>
      <div class="container" id="container">
        <ul id="scene" class="scene">
          <li data-depth="14" class="layer"><img id="pepper" src="img/pepper.png"></li>
          <li data-depth="11" class="layer"><img id="cilantro" src="img/cilantro.png"></li>
          <li data-depth="9" class="layer"><img id="lime" src="img/lime.png"></li>
          <li data-depth="7" class="layer"><img id="tomato" src="img/tomato.png"></li>
          <li data-depth="5" class="layer"><img id="garlic" src="img/garlic.png"></li>
          <li data-depth="3" class="layer"><img id="onion" src="img/onion.png"></li>
          <li data-depth="1" class="layer"><img id="avocado" src="img/avocado.png"></li>
        </ul>
      </div>
      <div class="header-info">
        <div class="header-free">
        Eat guacamole with your friends and neighbors
        </div>
        <div class="header-time">
          Sept. 9<span class="superscript">th</span>
          <br>1pm &mdash; ?*
          <br><span><p><em> * until the last chip is eaten</em></p></span>
        </div>
      </div>
      <div><a href="#form" class="button button--hero">Count me in!</a></div>
    </div>
    <div class="info-section">
      <div class="info">
        <div class="info-intro">
        <h1>The 5<span class="superscript">th</span> Annual Indian Summer Guac-Off is a party that showcases the best guacamoles that The City has to offer.</h1>
        </div>
        <div class="columns">
          <div class="col">
            <h2 class="the-rules">The Rules</h2>
            <ol>
              <li>Your guacamole must use <strong>at least 7 avocados</strong>.</li>
              <li>If you don&#39;t bring a guacamole, you&#39;re encouraged to bring beer.</li>
              <li>No matter what you decide to bring, bring your friends!</li>
              <li>We'll provide the chips, <em>mystery prizes</em>, and the coveted <strong>Guacamole Glory Trophy</strong>.</li>
            </ol>
          </div>
          <div class="col">
            <h2 class="the-judging">The Judging</h2>
            <p>You decide who has the best guacamole in The City. The winner to be crowned with the Guacamole Glory Trophy, bragging rights until next Indian summer, the title of official
              <q>Guacamole of San Francisco,</q> and a secret mystery prize!</p>
          </div>
          <div class="col-sm">
            <h2 class="the-location">The Location</h2>
            <p>The Farmhouse Mansion
              <br>3340 Folsom St.
              <br>San Francisco, 94110
              <br><a href="https://goo.gl/maps/U4Y644paVPM2">Get Directions &#10154;</a>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="form-section" id="form">
      <div class="form-container">
        <h2>Let us know you&#39;re planning to come.</h2>
        <form class="form-horizontal lead" role="form" action="/" method="post">
          <div class="form-group">
            <label class="form-label">Your Name</label>
            <input class="form-control" type="text" name="name" placeholder="Guacamole Champ" required="">
          </div>
          <div class="form-group">
            <label class="form-label">Your Email</label>
            <input class="form-control" type="email" name="email" placeholder="guac-lover@gmail.com" required="">
          </div>
          <div class="form-group">
            <div class="checkbox-header">What are you bringing?</div>
            <label class="checkbox-inline">
              <input type="checkbox" class="checkbox" value="true" name="guac">The City&#39;s Best Guacamole
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" class="checkbox" value="true" name="beer">Something to drink
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" class="checkbox" value="true" name="other">All my friend(s)
            </label>
          </div>
          <button type="submit" class="button button--submit">Count me in!</button>
        </form>
      </div>
    </div>
    <div class="sponsors-section">
      <div class="sponsors">
        <h1 id="thanks">Thanks to our lovely local sponsors</h1>
        <ul>
          <li class="sponsor sponsor-bff">BFF.fm</li>
          <li class="sponsor sponsor-dsf">DSF Clothing</li>
          <li class="sponsor sponsor-firefly">Firefly Restaurant</li>
          <li class="sponsor sponsor-fortpoint">Fort Point Beer Co.</li>
          <li class="sponsor sponsor-tripps">American Tripps</li>
          <li class="sponsor sponsor-workshop">Workshop</li>
          <li class="sponsor sponsor-noisepop">Noise Pop</li>
          <li class="sponsor sponsor-4505">4505</li>
          <li class="sponsor sponsor-fdr">Ferment Drink Repeat</li>
          <li class="sponsor sponsor-gnl">George and Lennie</li>
          <li class="sponsor sponsor-roll">Roll Over Easy</li>
          <li class="sponsor sponsor-spincity">Spin City</li>
          <li class="sponsor sponsor-wildsf">Wild SF Walking Tours</li>
          <li class="sponsor sponsor-woodennickel">The Wooden Nickel</li>
        </ul>
      </div>
    </div>
    <script src="scripts/jquery.js"></script>
    <script src="scripts/jquery.parallax.js"></script>
    <script>
    $('#scene').parallax();
    $('a[href^="#"]').on('click', function(event) {
    var target = $(this.getAttribute('href'));
    if( target.length ) {
        event.preventDefault();
        $('html, body').stop().animate({
            scrollTop: target.offset().top
        }, 1000);
    }
    });
    </script>
  </body>
</html>
