<html>
<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/styles/styles.css">
    <link rel="shortcut icon" type="image/png" href="../img/avotrans.ico" />
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
    <meta property="og:title" content="Mission Guac Party!" />
    <meta property="og:description" content="Back for a 8th year we'll be celebrating with friends,
                                             neighbors, and fellow guacamole enthusiasts!" />
    <meta property="og:image" content="https://www.guacamole.expert/img/guac-off-photo-og.jpg" />
    <meta property="twitter:image" content="https://www.guacamole.expert/img/guac-off-photo-og.jpg" />
    <meta property="twitter:title" content="Mission Guac Party!" />
    <meta property="twitter:description" content="Back for a 8th year we'll be celebrating with friends,
                                             neighbors, and fellow guacamole enthusiasts!" />
    <meta name="twitter:card" content='summary_large_image'>
    <meta name="twitter:label1" value="When is it?" />
    <meta name="twitter:data1" value="September 14th, 2019, 1-5pm" />
    <meta name="twitter:label2" value="Is this a competition?" />
    <meta name="twitter:data2" value="Absolutely! The trophy is amazing!" />
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            },
            i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-34819223-6', 'auto');
    ga('send', 'pageview');
    </script>
    <title>Indian Summer Guac Off</title>
</head>

<body>
    <div class="hero">
        <div class="topline">8th Annual Indian Summer</div>
        <div class="logotype">Guac Off</div>
    </div>
    <div class="intro">
        <div class="columns-12">
            <h2>Eat guacamole with your friends and neighbhors</h2>
            <h2>September 14, 2019</h2>
            <h2>1 PM</h2>                
            <h3>Bernal Heights</h2>
            <h3><a href="https://goo.gl/maps/6LrRvn3rrJA2" target="_blank">Farmhouse Mansion</a></h3>
            <h3>3340 Folsom St.</h3>
            <h3>San Francisco</h3>
        </div>
    </div>
    <div class="info">
        <div class="info-section">
            <h2>The Rule</h2>
            🥑🥑🥑🥑🥑🥑🥑🥑
            <br>
            You must use at last eight avocados. The rest is up to you.
        </div>
        <div class="info-section">
            <h2>The Other Rule</h2>
            Bring something. Guacamole, beer, or friends.
            <br>
            We've got the chips, the music, and the prizes covered.
        </div>
        <div class="info-section">
            <h2>The Competition</h2>
            You, your friends, and your neighbors are the judges. You’ll be asked to vote with your eyes, your heart, and of course, your taste buds.
            <br>
            Everyone will be given a few tokens to vote with to make things real easy. You’ll drop a token or two into the cup next to your favorite guacs. We’ll count the tokens to determine top prizes
        </div>
        <div class="info-section">
            <h2>The Winners</h2>
            The winner to be crowned with the Guacamole Glory Trophy and their recipe will be deemed, “San Francisco’s Official Guacamole.”
            <br>
            All competitors receive bragging rights until next Indian Summer. 
            <br>
            All prizes come courtesy of our wonderful local sponsors.
        </div>
        <div class="info-section">
            <h2>Prize Categories</h2>
            <ul>
                <li class="award">🏆&nbsp;&nbsp;BEST GUACAMOLE&nbsp;&nbsp;🏆</li>
                <li class="award">🍽&nbsp;&nbsp;BEST PRESENTATION&nbsp;&nbsp;🍽</li>
                <li class="award">🎙&nbsp;&nbsp;BEST NAME&nbsp;&nbsp;🎙</li>
                <li class="award">🥑&nbsp;&nbsp;MOST AVOCADOS&nbsp;&nbsp;🥑</li>
                <li class="award">👨‍🎤&nbsp;&nbsp;MOST CREATIVE&nbsp;&nbsp;👨‍🎤</li>
                <li class="award">🔥&nbsp;&nbsp;SPICIEST GUACAMOLE&nbsp;&nbsp;🔥</li>
                <li class="award">🙌&nbsp;&nbsp;BEST YOUNG CHEF&nbsp;&nbsp;🙌</li>
                <li class="award">🏋️‍♀️&nbsp;&nbsp;HEAVIEST BOWL&nbsp;&nbsp;🏋️‍♀️</li>
            </ul>
            <p class="legal">*awards subject to being made up on the spot.</p>
        </div>
    </div>
    <div class="form-section" id="form">
        <div class="form-container">
            <div class="rsvp-circle">RSVP</div>
            <h2>You're coming, right? Great.</h2>
            <form role="form" method="post">
                <div class="form-group" id="form-anchor">
                    <div class="form-group-text-input">
                        <label class="form-label">What's Your Name?</label>
                        <input class="form-input" type="text" name="name" placeholder="Guacamole Champ" required="">
                    </div>
                    <div class="form-group-text-input">
                        <label class="form-label">What's Your Email?</label>
                        <input class="form-input" type="email" name="email" placeholder="guac-lover@gmail.com" required="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox-header">What are you bringing?</div>
                    <div class="ck-button" id="ck-guacamole">
                        <label>
                            <input type="checkbox" name="guac" value="1">
                            <span>Guacamole</span>
                        </label>
                    </div>
                    <div class="ck-button" id="ck-beer">
                        <label>
                            <input type="checkbox" name="beer" value="1">
                            <span>Beer</span>
                        </label>
                    </div>
                    <div class="ck-button" id="ck-friends">
                        <label>
                            <input type="checkbox" name="other" value="1">
                            <span>Friends</span>
                        </label>
                    </div>
                    <div class="disclaimer">
                        <p>* It’s totally cool to bring all three.</p>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Got something to say?</label>
                        <textarea class="form-input" name="comments" placeholder="Here's where you let us know if you want to volunteer, sponsor, or bring a bounce house... "></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="button button--submit">I'll be there!</button>
                </div>
            </form>
        </div>
    </div>
    <div class="celebrity-judges">
        <div class="columns-12">
            <h2>Two Thousand Eighteen Celebrity Judges</h2>
            <div class="judge">
                <div class="judge-photo" id="judge-emperor"></div>
                <div class="judge-name">
                    Emperor Norton
                </div>
            </div>
            <div class="judge">
                <div class="judge-photo" id="judge-karl"></div>
                <div class="judge-name">
                    Karl the Fog*
                </div>
            </div>
            <div class="judge">
                <div class="judge-photo" id="judge-comet"></div>
                <div class="judge-name">
                    Comet*
                </div>
            </div>
        </div>
        <p class="disclaimer">*Karl the Fog and Comet from Full House have not responded to our invitations and may not actually be coming.</p>
    </div>
    <div class="sponsors-section" id="all-sponsors">
        <div class="columns-12">
            <h2>Two Thousand Eighteen Restaurant Showcase</h2>
            <div class="sponsors">
                <ul>
                    <li>
                        <a href="http://www.thelittlechihuahua.com" target="_blank" class="sponsor sponsor-littlechihuahua">Little Chihuahua</a>
                    </li>
                    <li>
                        <a href="http://www.fireflysf.com" target="_blank" class="sponsor sponsor-firefly">Firefly</a>
                    </li>
                    <li>
                        <a href="http://www.3rdcousinsf.com" target="_blank" class="sponsor sponsor-cousin">3rd Cousin</a>
                    </li>
                    <li>
                        <a href="http://www.wesburgernmore.com" target="_blank" class="sponsor sponsor-wesburger">Wesburger</a>
                    </li>
                    <li>
                        <a href="http://www.westofpecos.com" target="_blank" class="sponsor sponsor-pecos">West of Pecos</a>
                    </li>
                    <li>
                        <a href="https://www.eatamericana.com" target="_blank" class="sponsor sponsor-eatamericana">Eat Americana</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sponsors-section">
        <div class="columns-12">
            <h2>Special thanks to our Two Thousand Eighteen local sponsors</h2>
            <div class="sponsors">
                <ul>
                    <li>
                        <a href="http://www.bff.fm/" target="_blank" class="sponsor sponsor-bff">BFF</a>
                    </li>
                    <li>
                        <a href="http://www.shopdsf.com" target="_blank" class="sponsor sponsor-dsf">DSF</a>
                    </li>
                    <li>
                        <a href="http://www.fireflysf.com" target="_blank" class="sponsor sponsor-firefly">Firefly</a>
                    </li>
                    <li>
                        <a href="http://www.americantripps.com/" target="_blank" class="sponsor sponsor-americantripps">American Tripps</a>
                    </li>
                    <li>
                        <a href="http://www.workshopsf.org" target="_blank" class="sponsor sponsor-workshop">Workshop</a>
                    </li>
                    <li>
                        <a href="http://www.noisepop.com" target="_blank" class="sponsor sponsor-noisepop">Noisepop</a>
                    </li>
                    <li>
                        <a href="http://www.fermentdrinkrepeat.com" target="_blank" class="sponsor sponsor-fdr">FDR</a>
                    </li>
                    <li>
                        <a href="http://www.georgeandlennie.com" target="_blank" class="sponsor sponsor-gl">George &amp; Lennie</a>
                    </li>
                    <li>
                        <a href="http://www.facebook.com/thewoodennickelsf/" target="_blank" class="sponsor sponsor-woodennickel">Wooden Nickel</a>
                    </li>
                    <li>
                        <a href="http://www.ladyfalconcoffeeclub.com/" target="_blank" class="sponsor sponsor-ladyfalcon">Lady Falcon</a>
                    </li>
                    <li>
                        <a href="http://www.spincitycoffee.com/" target="_blank" class="sponsor sponsor-spincity">Spin City Coffee</a>
                    </li>
                    <li>
                        <a href="http://sfneon.org/" target="_blank" class=" sponsor sponsor-sf-neon">SF Neon</a>
                    </li>
                    <li>
                        <a href="https://www.emmysspaghettishack.com" target="_blank" class="sponsor sponsor-emmys">Emmy's Spaghetti Shack</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/EmperorNortonsBoozeland/" target="_blank" class="sponsor sponsor-emperor-norton">Emperor Norton's Boozeland</a>
                    </li>
                    <li>
                        <a href="http://www.olddevilmoonsf.com" target="_blank" class="sponsor sponsor-odm">Old Devil Moon</a>
                    </li>
                    <li>
                        <a href="https://www.popupmagazine.com" target="_blank" class="sponsor sponsor-popup-mag">Pop-up Magazine</a>
                    </li>
                    <li>
                        <a href="https://www.beachblanketbabylon.com" target="_blank" class="sponsor sponsor-beach-blanket">Beach Blanket Babylon</a>
                    </li>
                    <li>
                        <a href="https://www.pentaclecoffeecompany.com" target="_blank" class="sponsor sponsor-pentacle-coffee">Pentacle Coffee</a>
                    </li>
                    <li>
                        <a href="https://emporiumsf.com" target="_blank" class="sponsor sponsor-emporium">The Emporium</a>
                    </li>
                    <li>
                        <a href="https://www.amosgoldbaum.com" target="_blank" class="sponsor sponsor-amos-goldbaum">Amos Goldbaum</a>
                    </li>
                    <li>
                        <a href="http://www.fleetwoodsf.com" target="_blank" class="sponsor sponsor-fleet-wood">Fleet Wood</a>
                    </li>
                    <li>
                        <a href="https://www.imperfectproduce.com" target="_blank" class="sponsor sponsor-imperfect-produce">Imperfect Produce</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
    $('a[href^="# "]').on('click', function(event) {
        var target = $(this.getAttribute('href'));
        if (target.length) {
            event.preventDefault();
            $('html, body').stop().animate({
                scrollTop: target.offset().top
            }, 1000);
        }
    });
    </script>
</body>

</html>
