<html>
<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel="shortcut icon" type="image/png" href="../img/avotrans.ico" />
    <script src="scripts/jquery.js"></script>
    <script src="https://use.typekit.net/afv8npa.js"></script>
    <script>
    try { Typekit.load({ async: true }); } catch (e) {}
    </script>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-34819223-6', 'auto');
    ga('send', 'pageview');
    </script>
    <title>Guac Party!</title>
</head>

<body>
    <div class="nav">
        <div class="columns-12">
            <div class="nav-headline">Eat guacamole with your friends and neighbors</div>
            <div class="nav-links">
                <a href="#therules" class="nav-link">The Rules</a>
                <a href="#form" class="nav-button">Count me in</a>
            </div>
        </div>
    </div>
    <div class="hero">
        <video id="herovideo" autoplay loop playsinline muted>
            <source src="../img/guac_timelapse.webm" type="video/webm">
        </video>
        <div class="logo">6th Annual Indian Summer Guac Off!</div>
        <div class="play-button">Watch the timelapse from last year.</div>
    </div>
    <div class="intro columns-12">
        <h1>The 6th Annual Indian Summer Guac-Off brings your friends and neighbors together to celebrate the Mighty Avocado.</h1>
        <div class="whenwhere">
            <div class="left">
                <h2>When?</h2>
                <h3>September 9th, 2017<br>
                1:00 p.m. until the last chip is eaten<br>
                Your guacamole must arrive by 2:00 p.m.</h3>
            </div>
            <div class="right">
                <h2>Where?</h2>
                <h3><a href="https://goo.gl/maps/6LrRvn3rrJA2" target="_blank">Bernal Heights<br>
            Farmhouse Mansion<br>
            3340 Folsom St.</a></h3>
            </div>
        </div>
    </div>
    <div class="ingredients"></div>
    <div class="details" id="therules">
        <div class="columns-12">
            <div class="detail">
                <div class="detail-name">
                    <h2 class="red">The Rules</h2>
                </div>
                <div class="detail-info">
                    <p><strong>To enter:</strong> Your guac must use at least 8 avocados.</p>
                    <p><strong>To attend:</strong> Bring something! Guacamole, beer or friends will do nicely.</p>
                    <p>Our friends from Tacolicious will provide the chips, we'll provide the prizes and the highly coveted Guacamole Glory Trophy.</p>
                </div>
            </div>
            <div class="detail">
                <div class="detail-name">
                    <h2 class="green">The Judging</h2>
                </div>
                <div class="detail-info">
                    <div class="detail-info">
                        <p class="big-p">Guacamole is a democracy.</p>
                        <p>You and your neighbors are the judges when it comes to this competition, and you’ll be asked to vote with your eyes, your heart, and of course, your taste buds.</p>
                        <p>The winner will be bestowed with the Guacamole Glory Trophy, bragging rights until next Indian summer, the title of “San Francisco’s Official Guacamollier,” and a secret mystery prize!</p>
                    </div>
                </div>
            </div>
            <div class="detail">
                <div class="detail-name">
                    <h2 class="brown">The Schedule</h2>
                </div>
                <div class="detail-info">
                    <ol class="sched">
                        <li class="schedule"><span class="time">1:00 – 1:30</span> Guacamoles Showcase</li>
                        <li class="schedule"><span class="time">1:30 - 3:00</span> Eat Guacamole!</li>
                        <li class="schedule"><span class="time">3:00 - 3:30</span> Voting</li>
                        <li class="schedule"><span class="time">3:30 - 4:00</span> Winner Announced</li>
                        <li class="schedule"><em>Party ends when the last chip is gone!</em></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="awards-section">
        <div class="columns-12">
            <h1>Glorious Prizes</h1>
            <ul>
                <li class="award">
                    <span class="award-icon"></span>
                    <p class="award-name">Best Guacamole</p>
                </li>
                <li class="award">
                    <span class="award-icon"></span>
                    <p class="award-name">Best Presentation</p>
                </li>
                <li class="award">
                    <span class="award-icon"></span>
                    <p class="award-name">Best Name</p>
                </li>
                <li class="award">
                    <span class="award-icon"></span>
                    <p class="award-name">Most Avocados</p>
                </li>
                <li class="award">
                    <span class="award-icon"></span>
                    <p class="award-name">Most Creative</p>
                </li>
                <li class="award">
                    <span class="award-icon"></span>
                    <p class="award-name">Spiciest Guacamole</p>
                </li>
                <li class="award">
                    <span class="award-icon"></span>
                    <p class="award-name">Best Young Chef</p>
                </li>
                <li class="award">
                    <span class="award-icon"></span>
                    <p class="award-name">Heaviest Bowl</p>
                </li>
                <li class="award">
                    <span class="award-icon"></span>
                    <p class="award-name">Fanciest Guacamole</p>
                </li>
            </ul>
            <p class="legal">*awards subject to being made up on the spot.</p>
        </div>
    </div>
    <div class="form-section" id="form">
        <div class="form-container columns-12">
            <h1>So you’re coming, right?<br> Great. RSVP!</h1>
            <form class="form-horizontal" role="form" method="post">
                <div class="form-group">
                    <label class="form-label">Name</label>
                    <input class="form-control" type="text" name="name" placeholder="Guacamole Champ" required="">
                </div>
                <div class="form-group">
                    <label class="form-label">Email</label>
                    <input class="form-control" type="email" name="email" placeholder="guac-lover@gmail.com" required="">
                </div>
                <div class="form-group">
                    <div class="checkbox-header">What are you bringing?</div>
                    <label class="checkbox-inline">
                        <input type="checkbox" class="checkbox" value="true" name="guac">🥑 Guacamole
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" class="checkbox" value="true" name="beer">🍺 Beer
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" class="checkbox" value="true" name="other">👯 Friend(s)
                    </label>
                </div>
                <div class="form-group">
                    <label class="form-label arealabel">Talk to us!</label>
                    <textarea class="form-control" name="comments" placeholder="I'm going to give it all I've guac"></textarea>
                </div>
                <button type="submit" class="button button--submit">I'll be there!</button>
            </form>
        </div>
    </div>
    <div class="ingredients"></div>
    <div class="sponsors-section">
        <h1>Restaurant Showcase</h1>
        <div class="sponsors">
            <ul>
                <li><a href="http://www.tacolicious.com/" target="_blank" class="sponsor sponsor-tacolicious">Tacolicious</a></li>
                <li><a href="http://www.wesburgernmore.com" target="_blank" class="sponsor sponsor-wesburger">Wesburger</a></li>
                <li><a href="http://www.fireflysf.com" target="_blank" class="sponsor sponsor-firefly">Firefly</a></li>
                <li><a href="http://www.westofpecos.com" target="_blank" class="sponsor sponsor-pecos">West of Pecos</a></li>
                <li><a href="http://www.ricepaperscissors.com" target="_blank" class="sponsor sponsor-rps">RPS</a></li>
                <li><a href="http://www.papalote-sf.com" target="_blank" class="sponsor sponsor-papalote">Papalote</a></li>
                <li><a href="https://gussmarket.com/" target="_blank" class="sponsor sponsor-gus">Gus's Community Market</a></li>
            </ul>
        </div>
    </div>
    <div class="sponsors-section">
        <h1>Special thanks to our amazing local sponsors</h1>
        <div class="sponsors">
            <ul>
                <li><a href="http://www.bff.fm/" target="_blank" class="sponsor sponsor-bff">BFF</a></li>
                <li><a href="http://www.shopdsf.com" target="_blank" class="sponsor sponsor-dsf">DSF</a></li>
                <li><a href="http://www.fireflysf.com" target="_blank" class="sponsor sponsor-firefly">Firefly</a></li>
                <li><a href="http://www.americantripps.com/" target="_blank" class="sponsor sponsor-americantripps">American Tripps</a></li>
                <li><a href="http://www.workshopsf.org" target="_blank" class="sponsor sponsor-workshop">Workshop</a></li>
                <li><a href="http://www.noisepop.com" target="_blank" class="sponsor sponsor-noisepop">Noisepop</a></li>
                <li><a href="http://www.fermentdrinkrepeat.com" target="_blank" class="sponsor sponsor-fdr">FDR</a></li>
                <li><a href="http://www.georgeandlennie.com" target="_blank" class="sponsor sponsor-gl">George &amp; Lennie</a></li>
                <li><a href="http://www.tacolicious.com/" target="_blank" class="sponsor sponsor-tacolicious">Tacolicious</a></li>
                <li><a href="http://www.facebook.com/thewoodennickelsf/" target="_blank" class="sponsor sponsor-woodennickel"> Wooden Nickel</a></li>
                <li><a href="http://www.ladyfalconcoffeeclub.com/" target="_blank" class="sponsor sponsor-ladyfalcon"> Wooden Nickel</a></li>
                <li><a href="https://www.facebook.com/PitchSalon/" target="_blank" class="sponsor sponsor-pitch">Pitch Salon</a></li>
                <li><a href="https://www.spincitycoffee.com" target="_blank" class="sponsor sponsor-spincity">Spin City Coffee</a></li>
                <li><a href="https://gussmarket.com/" target="_blank" class="sponsor sponsor-gus">Gus's Community Market</a></li>
                <li><a href="https://www.recurly.com/" target="_blank" class="sponsor sponsor-recurly">Recurly</a></li>
            </ul>
        </div>
    </div>
    <script>
    $('a[href^="#"]').on('click', function(event) {
        var target = $(this.getAttribute('href'));
        if (target.length) {
            event.preventDefault();
            $('html, body').stop().animate({
                scrollTop: target.offset().top
            }, 1000);
        }
    });
    </script>
</body>

</html>
