<html>
<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel="shortcut icon" type="image/png" href="../img/avotrans.ico" />
    <script src="scripts/jquery.js"></script>
    <script src="https://use.typekit.net/afv8npa.js"></script>
    <script>
    try { Typekit.load({ async: true }); } catch (e) {}
    </script>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-34819223-6', 'auto');
    ga('send', 'pageview');
    </script>
    <title>Guac Party!</title>
</head>

<body>
    <div class="nav">
        <div class="columns-12">
            <div class="nav-headline">Eat guacamole with your friends and neighbors</div>
            <div class="nav-links-hidden">
                <a href="#form" class="nav-button">Count me in</a>
            </div>
        </div>
    </div>
    <div class="hero">
        <video id="herovideo" autoplay loop playsinline muted>
            <source src="../img/guac_timelapse.webm" type="video/webm">
        </video>
        <div class="logo-container">
            <div class="annual">7th Annual Indian Summer</div>
            <div class="logo">Guac Off</div>
            <div class="logo-date">September 8th, 2018</div>
        </div>
    </div>
    <div class="intro">
        <div class="columns-12">
            <h2>The 7th Annual Indian Summer Guac-Off showcases the best guacamole that The City has to offer.</h2>
            <div class="whenwhere">
                <div class="whenwhere-left">
                    <div class="when-label">
                        <h1>September Eighth</h1>
                    </div>
                    <div class="whenwhere-text">
                        <h3>Starts at 1PM. Ends when the last chip is gone.<br>Judging ends at 4PM</h3>
                    </div>
                </div>
                <div class="whenwhere-right">
                    <div class="where-label">
                        <h1>Bernal Heights</h1>
                    </div>
                    <div class="whenwhere-text">
                        <h3><a href="https://goo.gl/maps/6LrRvn3rrJA2" target="_blank">Farmhouse Mansion<br>
                        3340 Folsom St.<br>
                        San Francisco</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="details-section">
        <div class="detail-left-photo" id="detail-photo-1">Mariachi Band</div>
        <div class="detail-right-text" id="the-rules">
            <p class="details1">
                <h1>The Rules</h1> You must use at least 🥑🥑🥑🥑🥑🥑🥑🥑 avocados
                <br> Bring something! Guacamole, beer or friends.
                <br> We’ll provide the chips, the prizes, the mariachi band and of course… The coveted Guacamole Glory Trophy.
            </p>
        </div>
        <div class="detail-left-text" id="the-judging">
            <h1>The Judging</h1>
            <p>You and your neighbors ares the judges when it comes to this competition, and you’ll be asked to vote with your eyes, your heart, and of course, your taste buds.
                <br> The winner to be crowned with the Guacamole Glory Trophy, bragging rights until next Indian Summer, the title of “San Francisco’s Official Guacamole”, and a secret mystery prize!
        </div>
        <div class="detail-right-photo" id="detail-photo-2">Guacamole</div>
        <div class="detail-left-photo" id="detail-photo-3">Party</div>
        <div class="detail-right-text" id="the-rules">
            <h1>Schedule</h1>
            <div class="schedule-item"><span class="time">1:00 – 2:30</span> Showcase Guacamoles</div>
            <div class="schedule-item"><span class="time">2:30 - 3:30</span> Judging</div>
            <div class="schedule-item"><span class="time">3:30 - 4:00</span> Winners Announced</div>
            Party ends when the last chip is gone!
        </div>
    </div>
    <div class="awards-section">
        <div class="columns-12">
            <h1>Glorious Prizes</h1>
            <ul>
                <li class="award">🏆 BEST GUACAMOLE</li>
                <li class="award">🍽 BEST PRESENTATION</li>
                <li class="award">🎙 BEST NAME</li>
                <li class="award">🥑 MOST AVOCADOS</li>
                <li class="award">👨‍🎤 MOST CREATIVE</li>
                <li class="award">🔥 SPICIEST GUACAMOLE</li>
                <li class="award">🙌 BEST YOUNG CHEF</li>
                <li class="award">🏋️‍♀️ HEAVIEST BOWL</li>
                <li class="award">🎉 EXTRAVAGANT GUACAMOLE</li>
            </ul>
            <p class="legal">*awards subject to being made up on the spot.</p>
        </div>
    </div>
    <div class="form-section" id="form">
        <div class="form-container columns-12">
            <div class="rsvp-circle">RSVP</div>
            <h2>You're coming, right?<br> Great.</h2>
            <form class="form-horizontal" role="form" method="post">
                <div class="form-group">
                    <label class="form-label">What's Your Name?</label>
                    <input class="form-control" type="text" name="name" placeholder="Guacamole Champ" required="">
                </div>
                <div class="form-group">
                    <label class="form-label">What'sYour Email</label>
                    <input class="form-control" type="email" name="email" placeholder="guac-lover@gmail.com" required="">
                </div>
                <div class="form-group">
                    <div class="checkbox-header">What are you bringing?</div>
                    <label class="checkbox-inline">
                        <input type="checkbox" class="checkbox" value="true" name="guac">Guacamole
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" class="checkbox" value="true" name="beer">Beer
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" class="checkbox" value="true" name="other">Friend(s)
                    </label>
                </div>
                <div class="form-group">
                    <label class="form-label arealabel">Talk to us!</label>
                    <textarea class="form-control" name="comments" placeholder="I'm going to give it all I've guac"></textarea>
                </div>
                <button type="submit" class="button button--submit">I'll be there!</button>
            </form>
        </div>
    </div>
    <div class="celebrity-judges">
        <div class="judge">
            <div class="judge-photo" id="placeholder-judge">
                Placeholder Judge
            </div>
            <div class="judge-name">
                Judge Placeholder
            </div>
        </div>
        <div class="judge">
            <div class="judge-photo" id="placeholder-judge">
                Placeholder Judge
            </div>
            <div class="judge-name">
                Judge Placeholder
            </div>
        </div>
        <div class="judge">
            <div class="judge-photo" id="placeholder-judge">
                Placeholder Judge
            </div>
            <div class="judge-name">
                Judge Placeholder
            </div>
        </div>
    </div>
    <div class="sponsors-section">
        <h1>Last Year's Restaurant Showcase</h1>
        <div class="sponsors">
            <ul>
                <li><a href="http://www.tacolicious.com/" target="_blank" class="sponsor sponsor-tacolicious">Tacolicious</a></li>
                <li><a href="http://www.wesburgernmore.com" target="_blank" class="sponsor sponsor-wesburger">Wesburger</a></li>
                <li><a href="http://www.fireflysf.com" target="_blank" class="sponsor sponsor-firefly">Firefly</a></li>
                <li><a href="http://www.westofpecos.com" target="_blank" class="sponsor sponsor-pecos">West of Pecos</a></li>
                <li><a href="http://www.ricepaperscissors.com" target="_blank" class="sponsor sponsor-rps">RPS</a></li>
                <li><a href="http://www.papalote-sf.com" target="_blank" class="sponsor sponsor-papalote">Papalote</a></li>
                <li><a href="https://gussmarket.com/" target="_blank" class="sponsor sponsor-gus">Gus's Community Market</a></li>
            </ul>
        </div>
    </div>
    <div class="sponsors-section">
        <h1>Special thanks to our previous local sponsors</h1>
        <div class="sponsors">
            <ul>
                <li><a href="http://www.bff.fm/" target="_blank" class="sponsor sponsor-bff">BFF</a></li>
                <li><a href="http://www.shopdsf.com" target="_blank" class="sponsor sponsor-dsf">DSF</a></li>
                <li><a href="http://www.fireflysf.com" target="_blank" class="sponsor sponsor-firefly">Firefly</a></li>
                <li><a href="http://www.americantripps.com/" target="_blank" class="sponsor sponsor-americantripps">American Tripps</a></li>
                <li><a href="http://www.workshopsf.org" target="_blank" class="sponsor sponsor-workshop">Workshop</a></li>
                <li><a href="http://www.noisepop.com" target="_blank" class="sponsor sponsor-noisepop">Noisepop</a></li>
                <li><a href="http://www.fermentdrinkrepeat.com" target="_blank" class="sponsor sponsor-fdr">FDR</a></li>
                <li><a href="http://www.georgeandlennie.com" target="_blank" class="sponsor sponsor-gl">George &amp; Lennie</a></li>
                <li><a href="http://www.tacolicious.com/" target="_blank" class="sponsor sponsor-tacolicious">Tacolicious</a></li>
                <li><a href="http://www.facebook.com/thewoodennickelsf/" target="_blank" class="sponsor sponsor-woodennickel"> Wooden Nickel</a></li>
                <li><a href="http://www.ladyfalconcoffeeclub.com/" target="_blank" class="sponsor sponsor-ladyfalcon"> Wooden Nickel</a></li>
                <li><a href="https://www.facebook.com/PitchSalon/" target="_blank" class="sponsor sponsor-pitch">Pitch Salon</a></li>
                <li><a href="https://www.spincitycoffee.com" target="_blank" class="sponsor sponsor-spincity">Spin City Coffee</a></li>
                <li><a href="https://gussmarket.com/" target="_blank" class="sponsor sponsor-gus">Gus's Community Market</a></li>
                <li><a href="https://www.recurly.com/" target="_blank" class="sponsor sponsor-recurly">Recurly</a></li>
            </ul>
        </div>
    </div>
    <script>
    $('a[href^="#"]').on('click', function(event) {
        var target = $(this.getAttribute('href'));
        if (target.length) {
            event.preventDefault();
            $('html, body').stop().animate({
                scrollTop: target.offset().top
            }, 1000);
        }
    });
    </script>
</body>

</html>