<html>
<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel="shortcut icon" type="image/png" href="avotrans.ico" />
    <script src="https://use.typekit.net/afv8npa.js"></script>
    <script>
    try {
        Typekit.load({
            async: true
        });
    } catch (e) {}
    </script>
    <title>Guac Party!</title>
</head>

<body>
    <div class="info-section success">
        <div class="info">
            <div class="info-intro">
                <h2><%= @total_guest_count %> folks have RSVP'd</h2>
                <h2><%= @guacamole_count %> are bringing guacamole</h2>
                <h2><%= @beer_count %> will bring beer</h2>
                <h2><%= @friend_count %> have indicated they'll bring friends</h2>
            </div>
        </div>
    </div>
</body>
