<html>
<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel="shortcut icon" type="image/png" href="avotrans.ico" />
    <script src="https://use.typekit.net/afv8npa.js"></script>
    <script>
    try {
        Typekit.load({
            async: true
        });
    } catch (e) {}
    </script>
    <script>
    ! function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'twitter-wjs');
    </script>
    <title>Guac Party!</title>
</head>

<body class="success-page">
    <div class="success-intro">
        <div class="columns-12">
            <h1>We're excited you're coming! Please, feel free to invite friends, lovers, pets, and cousins!</h1>
        </div>
    </div>
    <div class="success-details">
        <div class="columns-12">
            <h2>6th Annual Indian Summer Guac-Off!</h2>
            <h4>Date: Saturday, September 9th, 2017.</h4>
            <h4>Time: 1pm - until the last chip is eaten</h4>
            <h4>Location: <a href="https://goo.gl/maps/MuwPD4ZxReN2" target="_blank">3340 Folsom St. San Francisco, 94110 &#10154;</a></h4>
        </div>
    </div>
    <div class="success-details">
        <div class="columns-12">
            <p>
               That felt good, didn't it? We're so glad you're coming to the 6th Annual Indian Summer Guac-off!
               Invite your friends, lovers, pets, and cousins, and maybe even that cute guy from the apartment
               across the hall. We'll send you a reminder email a day or two before the competition, but you should
               probably add September 9th to your calendar now.
             </p>
             <p>
                Feel free to share this on Twitter, because "I'm going to a guacamole party..."
                seems like the start of a really good tweet.
              </p>
            <div class="share">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://guacamole.expert" data-text="I'm going to a guacamole party..." data-hashtags="guacparty" data-count="none" data-size="large">Tweet</a>
            </div>
        </div>
    </div>
</body>
