<html>
<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel="shortcut icon" type="image/png" href="../img/avotrans.ico" />
    <script src="https://use.typekit.net/afv8npa.js"></script>
    <script src="https://cdn.rawgit.com/liabru/matter-js/306dc024/build/matter.min.js"></script>
    <script src="https://cdn.rawgit.com/liabru/matter-wrap/43be2639/build/matter-wrap.min.js"></script>
    <script src="scripts/custom.js"></script>
    <script>
    try {
        Typekit.load({
            async: true
        });
    } catch (e) {}
    </script>
    <script>
    ! function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'twitter-wjs');
    </script>
    <title>Indian Summer Guac Off</title>
</head>

<body class="success-page">
    <div class="success-intro">
        <div class="success-intro-left">
            <h1>You just made an excellent decision</h1>
        </div>
        <div class="success-body">
            Invite your friends, lovers, pets, and cousins, and maybe even that cute guy from the apartment across the hall.
            <br>
            <br>We'll send you a reminder email a day or two before the competition, but you should probably add September 8th to your calendar now.
        </div>
    </div>
    <div class="success-share-calendar columns-12">
        <a href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MnR1b21iZzc2cmhqb3Q3aDFvNmo2azEzYTEgam9zaC5yLndpbGxpYW1zQG0&tmsrc=josh.r.williams%40gmail.com" class="button button-calendar">Add to Calendar</a>
        <a href="https://twitter.com/intent/tweet?hashtags=guacparty&original_referer=https%3A%2F%2Fwww.guacamole.expert%2Fpartyon&ref_src=twsrc%5Etfw&text=I%27m%20going%20to%20a%20guacamole%20party...&tw_p=tweetbutton&url=http%3A%2F%2Fguacamole.expert" class="button button-share">Share on Twitter</a>
    </div>
    <canvas id="bg"></canvas>
</body>