body {
    font-family: "filson-soft", sans-serif background-color: #fbefe5;
    margin: 0;
    color: #f9e3d1;
    background-image: url("../img/woodgrain.jpg");
    background-repeat: repeat;
    background-size: 50%;
}

p,
ol,
li,
h1,
h2,
h3,
h4,
label,
input,
.checkbox-header {
    font-family: "filson-soft", sans-serif;
}

h1 {
    line-height: 47px;
    font-size: 36px;
}

h2 {
    font-size: 24px;
    line-height: 24px;
    color: #acc749;
}

p,
ol {
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    font-weight: 400;
    color: #fbf3ed;
}

ul {
    list-style-type: none;
}

ol {
    padding-left: 20px;
}

strong {
    font-weight: 600;
}

q {
    quotes: '\201c' '\201d';
}

q:before {
    content: open-quote;
}

q:after {
    content: close-quote;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    height: 600px;
    display: block;
}

.stripes {
    height: 60px;
    background: repeating-linear-gradient( 0deg, #701830 0%, #701830 20%, #a10034 20%, #a10034 40%, #d7253b 40%, #d7253b 60%, #fc5d2b 60%, #fc5d2b 80%, #ff9743 80%, #ff9743 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(00%, #ff9743), color-stop(20%, #ff9743), color-stop(20%, #fc5d2b), color-stop(40%, #fc5d2b), color-stop(40%, #d7253b), color-stop(60%, #d7253b), color-stop(60%, #a10034), color-stop(80%, #a10034), color-stop(80%, #701830), color-stop(100%, #701830));
}

.hero {
    display: block;
    padding: 35px 30px;
    margin: auto;
    height: 735px;
    cursor: url("../img/avotrans.ico"), default;
}

.header-info {
    text-align: left;
    display: block;
    color: #fc5d2b;
    font-family: "filson-soft";
    color: #221d00;
    margin: -510px auto 0;
    max-width: 900px;
}

.header-free {
    text-align: center;
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    text-transform: uppercase;
    float: left;
}

.header-time {
    font-size: 40px;
    line-height: 44px;
    float: right;
    font-weight: 600;
    padding-top: 8px;
}

span.superscript {
    vertical-align: super;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.button {
    padding: 24px 40px;
    text-align: center;
    font-family: "filson-soft";
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.15s ease;
    cursor: url("../img/avotrans.ico"), default;
}

.button--hero {
    bottom: 0;
    float: none;
    background-color: #97bd33;
    background-size: 50%;
    margin: 0 auto;
    width: 280px;
    opacity: .9;
    color: #faf2ec;
    font-size: 30px;
    border: 2px solid #221d00;
    display: block;
    margin-top: 200px;
}

.button--hero:hover {
    background-color: #afcf4f;
    text-decoration: none;
}

.button--hero:active {
    background-color: #7ec325;
}

.button--hero:focus {
    outline: none;
}

.button--submit {
    font-size: 18px;
    color: #faf2ec;
    background-color: #df4718;
    border: 2px solid #341106;
    height: 60px;
    padding-top: 15px;
}

.button--submit:hover {
    background-color: #df5518;
}

.button--submit:active {
    background-color: #cd3e12;
}

#container {
    background-repeat: repeat;
    background-size: 50%;
    mix-blend-mode: color-burn;
}

.title {
    margin: 50px auto 0;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 750px;
    height: 235px;
    background-size: 100%;
}

.title .title-year,
.title .title-name {
    text-align: center;
    font-family: "filson-soft";
    color: #221d00;
    text-indent: -9999px;
}

.col {
    display: inline-block;
    max-width: 360px;
    margin-right: 45px;
    vertical-align: top;
}

.col-sm {
    float: right;
}

.col-sm a {
    color: #97bd33;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
}

.col-sm a:hover {
    color: #acd541;
    font-weight: 600;
}

.info-section {
    background-color: rgba(34, 29, 0, .9);
    cursor: url("../img/avotrans.ico"), default;
}

.info {
    margin: 0 auto;
    max-width: 1000px;
    color: #f9e3d1;
    padding: 30px 0 90px;
}

.info h1 {
    color: #fbf3ed;
    margin: 30px auto 50px;
    text-align: center;
    max-width: 740px;
    word-wrap: normal;
}

.info-section.success .info {
    max-width: 600px;
}

.info-intro h1 {
    text-align: left;
}

.info-intro h2 {
    line-height: 32px;
}

.form-section {
    background-color: rgba(126, 152, 26, .9);
    height: 600px;
    margin: 0 auto;
    cursor: url("../img/avotrans.ico"), default;
}

.details {
    border: 2px solid #97bd33;
    padding: 30px;
    background-color: rgba(255, 255, 255, .1);
    text-align: center;
    border-radius: 8px;
}

h2.the-rules {
    background-image: url(../img/sm_tomato.png);
    background-repeat: no-repeat;
    padding-left: 85px;
    padding-top: 12px;
    width: 0px;
    background-image-size: 25%;
    background-size: 75%;
    height: 75px;
    margin-bottom: 0;
}

h2.the-judging {
    background-image: url(../img/sm_lime.png);
    background-repeat: no-repeat;
    padding-left: 85px;
    padding-top: 12px;
    width: 0px;
    background-image-size: 25%;
    background-size: 75%;
    height: 75px;
    margin-bottom: 0;
}

h2.the-location {
    background-image: url(../img/sm_cilantro.png);
    background-repeat: no-repeat;
    padding-left: 85px;
    padding-top: 12px;
    width: 0px;
    background-image-size: 25%;
    background-size: 75%;
    height: 75px;
    margin-bottom: 0;
}

label,
.checkbox-header {
    text-transform: uppercase;
    font-size: 18px;
    color: #221d00;
    font-weight: 600;
    margin-right: 10px;
    display: block;
    text-align: left;
    margin-bottom: 10px;
    cursor: url("../img/avotrans.ico"), default;
}

input {
    height: 60px;
    padding-left: 20px;
    font-family: sans-serif;
    font-size: 18px;
    background: #f5f8e8;
    border: 1px solid rgb(55, 69, 8);
    box-shadow: inset 0px 1px 3px 0px #334004;
    border-radius: 4px;
    width: 280px;
    display: block;
    color: #283304;
    float: left;
}

input::-webkit-input-placeholder {
    font-size: 18px;
    color: #98BB22;
    font-family: "filson-soft";
}

input:-moz-placeholder {
    /* Firefox 18- */
    font-size: 18px;
    font-family: "filson-soft";
    color: #98BB22;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 18px;
    font-family: "filson-soft";
    color: #98BB22;
}

input:-ms-input-placeholder {
    font-size: 18px;
    color: #98BB22;
    font-family: "filson-soft";
}

form {}

.form-group {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
}

.form-group:last-of-type {
    display: block;
}

.form-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 38px 0;
}

.form-container h2 {
    text-align: left;
    font-size: 30px;
    color: #fff;
    margin-bottom: 54px;
}

input.checkbox {
    height: auto;
    width: auto;
    margin-right: 13px;
}

label.checkbox-inline {
    text-transform: none;
    display: block;
    color: #fbf3ed;
    font-size: 18px;
    font-weight: 400;
}

#pepper {
    right: 40%;
    bottom: 45%;
    width: 200px;
    position: absolute;
}

#cilantro {
    left: 36%;
    bottom: 32%;
    width: 245px;
    position: absolute;
}

#lime {
    left: 39%;
    bottom: 51%;
    width: 176px;
    position: absolute;
}

#tomato {
    left: 38%;
    bottom: 69%;
    width: 180px;
    position: absolute;
}

#garlic {
    bottom: 50%;
    right: 41%;
    width: 200px;
    position: absolute;
}

#onion {
    bottom: 44%;
    right: 36%;
    position: absolute;
    width: 248px;
}

#avocado {
    right: 36%;
    bottom: 41%;
    width: 272px;
    position: absolute;
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 480px) {
    /* Styles */

    body {
        background-size: 200%;
    }

    .hero {
        padding: 10px;
        height: 645px;
    }
    .title {
        margin: 70px auto 0;
        width: 350px;
        height: 107px;
    }
    .button {
        padding: 20px 40px;
    }
    .button--hero {
        width: 220px;
        margin-top: 10px;
    }
    button.button.button--submit {
        padding-top: 16px;
    }
    .header-info {
        text-align: center;
        margin: -450px auto 0;
    }
    .header-free {
        float: inherit;
        font-size: 58px;
    }
    .header-time {
        float: inherit;
        font-size: 30px;
        line-height: 32px;
    }
    .info {
        padding: 15px 15px 30px 15px;
    }
    .info h1 {
        margin-bottom: 20px;
    }
    h1 {
        line-height: 40px;
        font-size: 26px;
    }
    .col {
        margin-right: 0;
        max-width: 100%;
    }
    .col-sm {
        float: inherit;
    }
    h2.the-rules {
        padding-left: 100px;
        padding-top: 52px;
        background-size: 31%;
        height: 57px;
        margin-bottom: -18px;
        font-size: 30px;
        width: 160px;
    }
    h2.the-judging {
        padding-left: 100px;
        padding-top: 52px;
        background-size: 26%;
        height: 57px;
        margin-bottom: -18px;
        font-size: 30px;
        width: 200px;
    }
    h2.the-location {
        font-size: 30px;
        padding-left: 100px;
        padding-top: 52px;
        background-size: 25%;
        height: 57px;
        margin-bottom: -18px;
        width: 200px;
    }
    #avocado {
        right: 13%;
        bottom: 60%;
        width: 262px;
    }
    #onion {
        bottom: 61%;
        right: 16%;
        width: 231px;
    }
    #garlic {
        bottom: 69%;
        right: 23%;
    }
    #tomato {
        left: 31%;
        bottom: 73%;
        width: 180px;
    }
    #lime {
        left: 24%;
        bottom: 63%;
    }
    #cilantro {
        left: 16%;
        bottom: 55%;
        width: 219px;
    }
    #pepper {
        right: 30%;
        bottom: 56%;
    }
    .form-section {
        padding: 15px;
        height: auto;
    }
    .form-group {
        margin-right: 0;
        width: 100%;
    }
    .form-container h2 {
        line-height: 32px;
    }
    form {
        width: 100%;
    }
    label {
        margin-right: 0;
    }
    input {
        width: 100%;
    }
}
